@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Kelly Slab', monospace;
  background-color: #E1D3E6;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

a {
  color: #000000;
  text-decoration: none;
}

/* == */
.menu {
  text-align: center;
}

.menu h1 {
  color: #AE13E6;
  font-size: 30px;
}

.menu .logo img {
  width: 48%;
  height: 48%;
}

.menu .menu1 {
  margin: 5%;
  display: block;
  font-size: 150%;
}

.menu .menu1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7% 0% 0% 0%;
}

.menu .menu1 li img {
  width: 30px;
}

.menu .menu1 li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

.zveite-menu {
  margin: 15% 35% 0% 0%;
  font-size: 160%;
  text-align: center;
}

.zmenu {
  display: block;
}

ul > li > a:hover {
  color: #AE13E6;
}

.product div {
  display: inline-block;
  width: 240px;
  height: 250px;
  border-radius: 20px;
  margin: 0% 0% 2% 4.5%;
}

.product div .effect-text {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.product div .effect-text img {
  width: 100%;
  height: 30%;
}

.product a {
  list-style: none;
  font-size: 120%;
}

.product .enc {
  margin: 3% 0% 3% 31%;
  width: 20%;
  height: 5%;
  text-align: center;
  font-size: 120%;
  border-radius: 15px;
  background-color: rgba(19, 230, 174, 0.7);
}

.product .fan {
  margin: 2% 0% 3% 31%;
  width: 20%;
  height: 10%;
  text-align: center;
  font-size: 120%;
  border-radius: 15px;
  background-color: rgba(19, 230, 174, 0.7);
}

.product h3 {
  margin: 3% 0% 3% 33%;
  width: 15%;
  height: 5%;
  text-align: center;
  font-size: 120%;
  border-radius: 15px;
  background-color: rgba(19, 230, 174, 0.7);
}

.footer {
  margin-left: 2%;
  float: left;
}

.footer img {
  width: 35px !important;
  height: 35px !important;
  border-radius: 30%;
}

.footer .wrapper {
  margin-left: 8%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.footer .wrapper .icon {
  position: relative;
  background: #E1D3E6;
  border-radius: 30%;
  padding: 10px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #E1D3E6;
  color: #E1D3E6;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .wrapper .tooltip::before {
  position: absolute;
  height: 8px;
  width: 8px;
  background: #E1D3E6;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.footer .wrapper .telegram:hover,
.footer .wrapper .telegram:hover .tooltip,
.footer .wrapper .telegram:hover .tooltip::before {
  background: #1DA1F2;
  color: #E1D3E6;
}

.footer .wrapper .instagram:hover,
.footer .wrapper .instagram:hover .tooltip,
.footer .wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #E1D3E6;
}

.footer .wrapper .vk:hover,
.footer .wrapper .vk:hover .tooltip,
.footer .wrapper .vk:hover .tooltip::before {
  background: #0d1ad7;
  color: #E1D3E6;
}

.hover-text {
  font-size: 110%;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  text-align: center;
}

.hover-text *, .hover-text *:after, .hover-text *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hover-text figure {
  position: relative;
  z-index: 2;
  display: inline-block;
  overflow: hidden;
  background: #527c82;
  text-align: center;
  cursor: pointer;
}

.hover-text figure img {
  position: relative;
  display: block;
  min-height: 100%;
  z-index: 1;
}

.hover-text figure figcaption {
  color: #FFF;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hover-text figure figcaption::before,
.hover-text figure figcaption::after {
  pointer-events: none;
}

.hover-text figure p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text figcaption::before {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 76, 97, 0)), color-stop(75%, rgba(72, 76, 97, 0.8)));
  background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

figure.effect-text figcaption::before,
figure.effect-text p {
  background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  z-index: 3;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-text:hover figcaption::before,
figure.effect-text:hover p {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

button {
  text-align: center;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 20%;
  padding: 16px;
  background-color: #EBECF0;
  color: #61677C;
  font-weight: bold;
  -webkit-box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
          box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  -webkit-box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
          box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
  -webkit-box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
          box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
/*# sourceMappingURL=comics.css.map */