$bl: #000000;
$pr: rgb(175, 19, 231);
$zl: rgba(19, 230, 174, 0.7);
$he: #E1D3E6;

$ruler: 16px;
$color-red: #AE1100; 
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Kelly Slab', monospace;
    background-color: $he;
}
body{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

a{
  color: $bl;
  text-decoration: none;
  &:hover{
    color: $pr;
  }
}
  
.menu {
  text-align: center;
  h1 {
    color: $pr;
    font-size: 27px;
  }
  .logo{
img{
  width: 48%;
  height: 48%;
  }
 }
 nav .menu1 {
   margin: 5%;
  display: block;
  font-size: 150%;
  li {
    display: block;
    margin: 7% 0% 0% 0%;
    img { width: 30px;}
    a {
      display: flex;
      text-align: left; 
      align-items: center;
      padding-left: 10px; 
     
    }
  }
}
}
.zveite-menu {
  margin: 15% 35% 0% 0%;
  font-size: 160%;
  text-align: center;
}


.popular {
  margin: 12% 0% 0% 0%;
  div{
    display: inline-block;
    width: 220px;
    height: 235px;
    border-radius: 15px;
    margin-left: 3%;
    
    .effect-text{
      width: 100%;
      height: 100%;
      border-radius: 15px;
      img{
      border-radius: 15px;
      height: 100%;
      width: 100%
    }
  }
}
h3{
    margin: 3% 0% 3% 40%;
    width: 17%;
    height: 10%;
    text-align: center;
    font-size: 120%;
    border-radius: 15px;
    background-color: $zl;
}
  }


.prod{

    img{
      height: 100%;
      border-radius: 15px;
      margin-right: 5%;
      float: left;
    }
  
    
    display:flexbox; 
    width: 120%;
    height: 90%;
    border-radius: 15px;
    margin: 12% 2% 0% 13%; 
    
    
}
button.butt{
  margin-left: 10px;
}

  .neuen {
  
    div{
      border-radius: 20px;
      width: 240px;
      height: 260px;
      margin: 7% 0% 7% 10%;
      .effect-text{
        width: 100%;
        height: 100%;
        
        border-radius: 15px;
      
      img{
        padding: 0;
        border-radius: 15px;
        height: 100%;
        width: 100%
      }
    } 
  }
  h3{
    text-align:center;  
    font-size: 120%;
    background-color: $zl;
    border-radius: 15px;
    width: 47%;
    height: 55%;
    margin: 7% 0 0 15% ;
  }

  }


 .footer {
   margin-left: 2%;
  float: left;
  font-size: 20px;
  img{
    width: 35px !important; 
    height: 35px !important;
    border-radius: 30%;
  }
  
  .wrapper {
    
    margin-left: 8%;
    display: inline-flex;
    list-style: none;
  }
  
  .wrapper {
    .icon {
    position: relative;
    background: $he;
    border-radius: 30%;
    padding: 10px;
    margin: 10px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: $he;
    color: $he;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    position: absolute;
    height: 8px;
    width: 8px;
    background: $he;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .telegram:hover,
  .telegram:hover .tooltip,
  .telegram:hover .tooltip::before {
    background: #1DA1F2;
    color: $he;
  }
  .instagram:hover,
  .instagram:hover .tooltip,
  .instagram:hover .tooltip::before {
    background: #E4405F;
    color: $he;
  }
  .vk:hover,
  .vk:hover .tooltip,
  .vk:hover .tooltip::before {
    background: #0d1ad7;
    color: $he;
  }
  }
}

form {
  
  width: 500px;
  margin: 10% auto;
}

.segment {
  padding: $ruler*2 0;
  text-align: center;
}

button, input {
  text-align: center;
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: 10%;
  padding: $ruler;
  background-color:$color-bg;
}

label {
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

input {
  
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

button {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
  &.red {
    display: block;
    width: 100%;
    color:$color-red;
  }
} 




.hover-text {
	
	margin: 0;
	width: 100%;
  height: 100%;
	list-style: none;
	text-align: center;
  *, *:after, *:before { 
    box-sizing: border-box; 
  }
figure {
	position: relative;
	z-index: 2;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
img {
	position: relative;
	display: block;
	min-height: 100%;
  z-index:1;
}
figcaption {

	color: #fff;
	text-transform: uppercase;
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figcaption::before,
figcaption::after {
	pointer-events: none;
}
p {
	margin: 0;
	letter-spacing: 1px;
	font-size: 68.5%;
}
}
}
/* Эффект при наведении */
figure.effect-text figcaption::before {
	position: absolute;
  z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-text figcaption::before,
figure.effect-text p {
  background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
  z-index: 3;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
  position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-text:hover figcaption::before ,
figure.effect-text:hover p {
  z-index: 1;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
     
.wrapp{
  display: grid;
  width: 600px;
  height: 260px;
  overflow: hidden;
  border-radius: 20px;
  margin: 3% 0% 0% 10%;

  .slid{
    animation: slides 30s infinite ease;
    width: 2800px;
    height: 10%;
    clear: both;
    position: relative;
    
    img{
      margin: 0;
      padding: 0;
      position: relative;
      float: left;  
    };
  }

  @keyframes slides {
  0%{left: 0 };   
  10%{left: -620px}; 
  20%{left: -1300px};
  30%{left: -2000px};
  40%{left: -2010px};
  50%{left: -2010px};
  70%{left: -2010px };
  80%{left: -1300px};
  90%{left: -620px };
  100%{left: 0 };
  }
}


