@media screen and (max-width: 1475px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  .popular {
    margin: 10% 0% 0% 0%;
  }
  .neuen h3 {
    margin-left: 30%;
  }
  .neuen div {
    margin: 5% 0% 5% 10%;
  }
}

@media screen and (max-width: 1365px) {
  .menu h1 {
    color: #ae13e6;
    font-size: 25px;
  }
  .menu1 a {
    font-size: 20px;
  }
  .zveite-menu {
    margin: 15% 3% 0% 0%;
    font-size: 140%;
  }
  .popular {
    margin: 8% 0% 0% 10%;
  }
  .popular div {
    width: 180px;
    height: 200px;
  }
  .popular h3 {
    margin: 3% 0% 3% 38%;
    font-size: 100%;
  }
  .neuen h3 {
    margin-left: 30%;
  }
  .neuen div .effect-text {
    width: 80%;
    height: 80%;
  }
  .tooltip {
    padding: 2px 5px;
  }
  .wrapp {
    width: 500px;
    height: 230px;
    margin-left: 20%;
  }
}

@media screen and (max-width: 1210px) {
  .neuen h3 {
    margin-left: 25%;
  }
  .neuen div {
    margin: 5% 0% 5% 0%;
  }
  .menu1 {
    font-size: 90%;
  }
  .menu h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 1122px) {
  .popular {
    margin: 8% 0% 0% 10%;
  }
  .popular div {
    width: 150px;
    height: 170px;
  }
  .popular h3 {
    width: 30%;
    margin: 3% 0% 3% 38%;
    font-size: 100%;
  }
  .wrapp {
    width: 400px;
    height: 200px;
    margin-left: 20%;
  }
  .neuen h3 {
    font-size: 16px;
    margin-left: 10%;
  }
  .neuen div {
    margin: 5% 0% -10% -20%;
  }
  .neuen div .effect-text {
    width: 70%;
    height: 70%;
  }
  .zveite-menu {
    margin: 15% 0% 0% 10%;
    font-size: 140%;
  }
}

@media screen and (max-width: 970px) {
  body {
    -ms-grid-columns: 15% 55% 30%;
        grid-template-columns: 15% 55% 30%;
  }
  .wrapp {
    height: 180px;
    width: 400px;
    margin-left: 20%;
  }
  .logo {
    width: 130%;
    height: 130%;
  }
  h1 {
    display: none;
  }
  .zmenu {
    display: none;
  }
  .popular div {
    display: inline-block;
    width: 32%;
    height: 32%;
    margin: 0% 0% 0% 0%;
  }
  .popular h3 {
    margin: 0% 0% 10% 25%;
    width: 60%;
    font-size: 80%;
  }
  .neuen {
    margin: 0% 0% 0% 0%;
  }
  .neuen div {
    margin: 3% 0% 0% 0%;
  }
  .neuen div .effect-text {
    width: 60%;
    height: 60%;
  }
  .neuen div .effect-text figcaption p {
    font-size: 10px;
  }
  .neuen .hover-text {
    margin-left: 3%;
    display: inline-block;
  }
  .neuen h3 {
    margin: 2% 0% 0% 30%;
    font-size: 14px;
    width: 30%;
  }
  .menu1 span {
    display: none;
  }
}

@media screen and (max-width: 830px) {
  .wrapp {
    height: 180px;
    width: 250px;
    margin-left: 15%;
  }
  .neuen {
    margin: 0% 0% 0% 0%;
  }
  .neuen div {
    margin: 3% 0% 0% 0%;
  }
  .neuen div .effect-text {
    width: 60%;
    height: 60%;
  }
  .neuen div .effect-text figcaption p {
    font-size: 7px;
  }
  .neuen .hover-text {
    margin-left: 3%;
    display: inline-block;
  }
  .neuen h3 {
    margin: 2% 0% 0% 30%;
    font-size: 14px;
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  body {
    display: block;
  }
  .logo {
    width: 30%;
    height: 30%;
  }
  .popular div {
    width: 140px;
  }
  .popular h3 {
    width: 40%;
    font-size: 16px;
  }
  .popular figcaption p {
    font-size: 9px;
  }
  .neuen {
    margin: 5% 0% 0% 5%;
  }
  .neuen h3 {
    font-size: 16px;
    margin-left: 33%;
  }
  .neuen div {
    margin: 5% 0% 0% 10%;
  }
  .neuen div .effect-text {
    width: 70%;
    height: 70%;
  }
  .wrapp {
    width: 320px;
    height: 170px;
    float: right;
    margin: -40% 18% 0% 0%;
  }
}

@media screen and (max-width: 427px) {
  .popular div {
    width: 200px;
    height: 220px;
    margin: 0% 0% 3% 17%;
  }
  .popular h3 {
    width: 40%;
    font-size: 16px;
  }
  .wrapp {
    width: 250px;
    height: 120px;
    margin: -40% 10% 0% 0%;
  }
  .neuen {
    margin: 5% 0% 0% 18%;
  }
  .neuen h3 {
    font-size: 16px;
    margin-left: 23%;
  }
  .neuen div {
    margin: 5% 0% 0% 10%;
  }
  .neuen div .effect-text {
    width: 80%;
    height: 80%;
  }
}
/*# sourceMappingURL=media.css.map */