$bl: #000000;
$pr: rgb(174, 19, 230);
$zl: rgba(19, 230, 174, 0.7);
$he: rgb(225, 212, 230);

$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

@media screen and (max-width: 1475px) {
    body{
        display: grid;
        grid-template-columns: 20% 60% 20%;
      }
    .popular{
        margin: 10% 0% 0% 0%;
    }
    .neuen {
       h3{
           margin-left:30%;
       }
    div{
        margin: 5% 0% 5% 10%;
    }
}
}
@media screen and (max-width: 1365px) {
    .menu h1 {
    color: $pr;
    font-size: 25px;}
 .menu1 a{font-size:20px ;}
  .zveite-menu {
    margin: 15% 3% 0% 0%;
    font-size: 140%;
  }
    .popular{
        margin: 8% 0% 0% 10%;
    }
    .popular div{
    width: 180px;
    height: 200px;
    }
   .popular h3{
    margin: 3% 0% 3% 38%;
    font-size: 100%;
    }
    .neuen{
        h3{
            margin-left:30%;
        }
    }
  .neuen div .effect-text{
        width: 80%;
        height: 80%;
      }
.tooltip {
  
    padding: 2px 5px;
    }
    .wrapp{
        width: 500px;
        height: 230px;
        margin-left: 20%;
    }
}
@media screen and (max-width: 1210px){
    
    
    .neuen {
        h3{
        margin-left: 25%;
    }
    div{
        margin: 5% 0% 5% 0%;
    }
}
    .menu1{
        font-size:90%;
      }
    .menu {

    h1{
        font-size: 20px;
    }
}
}
@media screen and (max-width:1122px){
    .popular{
        margin: 8% 0% 0% 10%;
     div{
    width: 150px;
    height: 170px;
    }
    h3{
    width: 30%;
    margin: 3% 0% 3% 38%;
    font-size: 100%;
    }
}
.wrapp{
    width: 400px;
    height: 200px;
    margin-left: 20%;
}
.neuen {
    h3{
    font-size: 16px;
    margin-left: 10%;
}
div{
    margin: 5% 0% -10% -20%;
    .effect-text{
        width: 70%;
        height: 70%;
      }
}
}
.zveite-menu {
    margin: 15% 0% 0% 10%;
    font-size: 140%;
  }
}
@media screen and (max-width:970px){
    body{
        display: block;
    }
    .logo{
        width: 30%;
        height: 30%;
    }
    h1{
        font-size: 5px;
        margin-left: 3%;
        float: left;
    }
    .neuen {
        h3{
        margin-left: 10%;
    }
    .zveite-menu {
        margin: 15% 0% 0% 10%;
        font-size: 130%;
      }
         .menu1{
            font-size:80%;
          }
    div{
        margin: 5% 0% -10% -20%;
        .effect-text{
            width: 70%;
            height: 70%;
          }
    }
    }
    .popular{
        margin: 8% 40% 0% 40%;
     div{
    width: 190px;
    height: 180px;
    margin-bottom: 10%;
    }
    h3{
    margin: 0% 0% 10% 25%;
    width: 60%;
    font-size: 80%;
    }
}
.neuen {

    margin: 0% 0% 0% 20%;
    .hover-text{
        margin-left: 3%;
        display: inline-block;
    }
    h3{
    margin-left: 28% ;
    font-size: 14px;
    width: 30%;
}
}
.menu1 span{
    display: none;
   
  }
.footer{
  
    margin-top: 7%;
    transform: rotate(-90deg);
}
}

@media screen and (max-width:600px){
    div{
        width:1px;
    }  
}